@model Transact_Mvc.Models.FailAmount

@{
    ViewData["Title"] = "Transfer Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="failMessage">Transfer Failed!</h1>

<p>@Model.FailAmountMessage</p>

<style>
    .failMessage {
        color: red;
    }
</style>

<p>Go back: <a href="~/MoneyTransfer/MoneyTransfer">Back to Money transfer page</a></p>
