@{
    ViewData["Title"] = "Transact-Mvc";
}

<div class="text-center">
    <h1 class="display-4">ჰაი All</h1>
    <p>A small transaction MVC project by M.K =)</p>
    <img class="mainImage" src="https://previews.123rf.com/images/aksanamoon/aksanamoon1911/aksanamoon191100090/136314596-money-transfer-transaction-between-device-smartphone-online-payment-cash-app-concept-vector-flat.jpg" style="width: 400px; height: auto;" />
</div>
